<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Chat</title>
</head>
<body style="text-align:center;font-size:150%;background-color: blueviolet;font-family: Arial, Helvetica, sans-serif;">
    <h1>Chat app</h1>
    <form id="form">
        <input type="text" name="msg" style="font-size:150%;width: 80%;">
    </form>
    <div id="msgs" style="overflow:scroll;height:400px;color: aliceblue;font-size:150%;"></div>
    <style>
        div::-webkit-scrollbar{display:none;}
    </style>
    <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>
        let url = `ws://${window.location.host}/ws/socket-server/`
        const chat_socket = new WebSocket(url)
        chat_socket.onmessage = function(e){
            let msg = JSON.parse(e.data)
            if(msg.type == 'chat'){
                $("#msgs").prepend($(`<p>${msg.msg}</p>`).fadeIn('fast'));
            }
        }
        let form = document.getElementById("form")
        form.addEventListener('submit', (e)=>{
            e.preventDefault()
            let msg = e.target.msg.value
            chat_socket.send(JSON.stringify({'msg':msg}))
            form.reset()
        })
    </script>
</body>
</html>